<div class="container">
  <div id="form">
    <%= form_with(url: "/", method: "get") do %>
      <strong><%= label_tag(:user_id, "Flickr User ID:") %></strong>
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <%if @photos %>
    <div id="photos-container">
      <% @photos.each do |photo| %>
        <div class="photos-card">
          <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
        </div>
      <% end %>
    </div>
  <% end %>  
</div>