<div class="container">
  <div id="form">
    <%= form_with(url: "/", method: "get") do %>
      <div id="label">
        <strong><%= label_tag(:user_id, "Flickr User ID:") %></strong>
      </div>
      <div id="textfield">
        <%= text_field_tag(:user_id) %>
      </div>
      <div id="submit">
        <%= submit_tag("Search") %>
      </div>
    <% end %>
  </div>
  <%if @photos %>
    <div id="photos-container">
      <% @photos.each do |photo| %>
        <div class="photos-card">
          <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
        </div>
      <% end %>
    </div>
  <% end %>  
</div>